.inline-block-top {
    display: inline-block;
    vertical-align: top;
}


.lang-block {
    margin:20px;
    margin-left:70px;
}

.header .logo {
    width:auto !important;
}

.auth-cnt {
    padding:100px 20%;
    background: rgba(13,133,233,0.5);
}

.site-login, .site-signup, .site-reset-password, .site-request-password-reset {
    text-align: center;
    display: inline-block;
    min-width:30%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    padding: 20px 40px;
    visibility: visible;
}

.site-error {
    padding:100px 15%;
}
.site-article {
    padding:100px 7%;
}

.auth-cnt input {
    background: rgba(113, 223, 213, 0.4) !important;
    border-radius: 15px;
}

.auth-clients {
    text-align: center;
    padding:0 !important;
    margin-top:15px;
    overflow: hidden;
}

.auth-clients li {
    display: inline-block !important;
    float:none !important;
    margin:0 10px !important;
}

@media (max-width:991px) {
    .sm-text-center {
        text-align: center;
    }
}

@media (min-width:991px) {

    .article-img {
        float: left;
        margin-right: 20px;
    }
}

.article-no-more {
    text-align: center;
    padding:70px 10px 50px 10px;
    background:#eee;
}

.search-block {
    text-align: center;
    padding:150px 15% 120px 15%;
    background:#eee;
}

.load_more_loader {

    padding:20px 10%;
    text-align: center;
}

.load_more_loader:before {
    font-size:100px;
}

.news-block-1 {
    padding:80px 10px;
    background: rgba(13,133,233,0.5);
}

.news-modal-1 {
    background:rgba(255,255,255,0.85);
    border-radius: 15px; padding:20px;
}

.half-width {
    width:50%;
}

.full-width {
    width:100%;
}

.ver-top {
    vertical-align: top;
}

.search-block .help-block {
    margin-top:-18px;
    padding: 0 5px 5px;
    color: #359 !important;
    text-align: left;

}

.search-article-block-col {
    padding:0 40px;
    margin:30px 0;
}

.search-article-block {
    display: inline-block;
    box-shadow: 1px 1px 1px 1px #333;
    padding:20px 40px;
}

.tags-cnt {
    padding:10px 15px 10px 15px;
    background:#eee;
}

#tags {
    position: relative;
    text-align: center;
    height:500px;
}


#tags .tag {
    position: absolute;
    font-size:20px;
    font-weight: bold;
    top:50%;
    left:50%;
    color:black;
    transition: all 2s, left 4s;
    transform: rotate3d(0,0,0, -2000deg) skewX(-90deg);
}